page-home {

    .background {
        
        background-image: url('../assets/pict/BGHome.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .icon {
        margin-top: 25vh;
    }
    .icon-sub{
        padding-top: 15px;
    }

}
