page-home {

    .background {
        
        background-image: url('../assets/pict/BGHome.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .pad-top {
        margin-top: 25vh;
        background-color: transparent;
    }
    .transparent {
        background-color: transparent;
    }
    .icon{
        font-size: 30px;
        color : white;
        align-content: right;
    }

}
